# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
coverage/
#bundles/
#esm/

# dependencies
/node_modules
/bower_components

# output
/dist

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
ng-pipes.iml

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
