sudo: required
dist: trusty
language: node_js
node_js:
  - '10.4'

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
- npm install -g karma

script: npm run test-travis

after_success: cat ./coverage/coverage.lcov | ./node_modules/coveralls/bin/coveralls.js
